/* container */
.x-jigsaw-container {
  width:200px;
}

/* row */
.x-jigsaw-row {
  display:block;
}

/* piece */
.x-jigsaw-piece {
  width:100px !important;
  height:100px;
  
  background:red;
  
  border:1px solid #ccc;
  
  display:inline-block;
}